.footer {
    padding: 60px 0;
    background-color: var(--footer-bg-color);
    
    .logo {
      margin: 0 auto;
      display: block;
      margin-bottom: 20px;
    }
    
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
}

.footer-tablet-wrap{
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
  }
}

  .footer-address-wrap {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 165px;
    }
  }
  
  .footer-logo {
    color: #ffffff;
  }
  
  .footer-address {
    font-style: normal;
  }
  
  .address-item {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  .footer-address-link {
    color: #ffffff;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--accent-color);
    }
  }
  
  

  .address-item
  
  .footer-contacts {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--accent-color);
    }
  }
  
  .footer-join {
    // padding-left: 70px;
    padding-bottom: 60px;
  }
  
  .footer-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .footer-socials-list {
    display: flex;
  }
  
  .footer-socials-item:not(:last-child) {
    margin-right: 10px;
  }
  
  .footer-socials-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    fill: #ffffff;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-socials-icon {
    fill: inherit;
    &:hover,
    &:focus {
    background-color: var(--accent-color);
    }
  }
  
  .footer-subscribe {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-left: 93px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 450px;
    }
  }
  
  .footer-email-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: #ffffff;
  }
  
  .footer-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-email {
    width: 100%;
    height: 50px;
  
    padding: 15px 16px;
    margin-top: 20px;
    margin-bottom: 20px;
  
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    color: #ffffff;
  }
  
  .footer-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
  
    width: 200px;
    height: 50px;
    // margin-left: 12px;
  
    color: #ffffff;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: #188ce8;
    }
  }
  
  .footer-button-icon {
    fill: #ffffff;
    margin-left: 10px;
  }
  
  